# Node.js
node_modules/
npm-debug.log*

# Logs
logs
*.log

# lock files
package-lock.json

# TypeScript
*.tsbuildinfo

# dotenv environment variables file
.env
.env.*

# Editor directories and files
.vscode/
.history/
.idea/

# MacOS
.DS_Store

# Build directory
build/
dist/
